<p id="notice"><%= notice %></p>

<%= render partial: "search_form" %>

<p>
  <strong>File Description:</strong>
  <%= @image.description %>
</p>

<p>
  <strong>File Uploaded At:</strong>
  <%= @image.created_at.strftime("%B %d, %Y") %>
</p>

<p>
  <strong>Original File Name:</strong>
  <%= @image.associated_image_file_name %>
</p>

<p>
  <strong>Original Image:</strong>
	<%= image_tag @image.associated_image.url %>
</p>

<p>
  <strong>Marked Up Image:</strong>
	<%= image_tag @image.marked_up_image.url, alt: "Image is still being processed; thank you for being patient!" %>
</p>

<%= link_to 'Download Original Image', @image.associated_image.url, download: '' %>
<%= link_to 'Download Marked Up Image', @image.marked_up_image.url, download: '' %>
<%= link_to 'Destroy', @image, method: :delete, data: { confirm: 'Are you sure?' } %>
<%= link_to 'New Image', new_image_path %>
<%= link_to 'Back', images_path %>